:root{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
    margin: unset;
}

h1{
    font-size: 1.5rem;
}

h1, p{
    margin: 0 1.042vw; 
    margin-top: 1.042vw;
}

p{
    color: hsl(220, 15%, 55%);
    margin-bottom: 1.042vw;
    font-size: 0.938rem;
}

.position-relative{
    position: relative;
}

.text-center{
    text-align: center;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container{
    background-color: #FFF;
    padding: 0.938em;
    margin: 1.875em;
    border-radius: 15px;
    max-width: 320px;
}

.main-container .img-container img{
    max-width: 100%;
    border-radius: 15px;
}